
<div class="main-content">
    <h1 style="text-align:center;color: #3d9b1f">Bienvenido usuario, porfavor eliga su rol</h1>




    <div>
        <img src="https://st2.depositphotos.com/2435561/5260/i/450/depositphotos_52600881-stock-photo-small-red-stable-and-view.jpg" alt="" style=" margin: auto;display: flex;   margin-top: 3%;">
    </div>




    <div style="    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 3%;">

        <a href="#/user-profile">
        <button  routerLink="user-profile" type="button" class="btn btn-primary btn-lg">Granjero</button>
    </a>


    <a href="#/notifications">
        <button  routerLink="notifications" type="button" class="btn btn-secondary btn-lg" style="    background: #36369f;
        color: white;
        margin-left: 10%;">Recolector</button>
    </a>
    </div>

    
    <div>
        <p style="text-align:center;">

            <a style="color: red;">NOTA:</a> para realizar cualquier accion o culquier metodo crud despues de llenar el formulario darle en el boton de agregar o actulizar respectivamente despues darle cancelar y recargar la pagina para ver los cambios refeljados en la pagina... (tener en cuenta que en los formularios de actulizar se tiene que poner el id que se muestra para que se aplique esos cambios a esos registros de igual manera los campos que son id asegurase que existan de lo contrario dara error y no se vera el cambios en la pagina  )
        </p>
    </div>

</div>